{% extends 'navbar.html' %}


    {% block content %}

    <div class="content">
        <h3>Welcome to My Restaurant, <span style="font-size: 28px; color:black;  font-weight: bolder ;">{{request.user}}</span></h3>
        <h1>Rich Healthy and Natural Food</h1>
        <p>Amma Recipes is a restaurant located in india.we have some amazing recipes in the country.</p>
    </div>
    <form action="search/" method="get">
    <div class="search">
        <input type="search" placeholder="Search Food" name="query" id="query">
    </div>
     <button class="submit" >Submit</a> </button>
    </form>
    

{% endblock %}